<body>
  <section class="h-100 h-custom">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="h5">Shopping Bag</th>
                <th scope="col">Type</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <div class="d-flex align-items-center">
                    <img src="{{ url_for('static', filename='img/iPhone.jpg') }}" class="img-fluid rounded-3"
                      style="width: 120px;" alt="product">
                    <div class="flex-column ms-4">
                      <p class="mb-2">iPhone</p>
                      <br>
                    </div>
                  </div>
                </th>
                <td class="align-middle">
                  <p class="mb-0" style="font-weight: 500;">Phone</p>
                </td>
                <td class="align-middle">
                  <div class="d-flex flex-row">
                    <input type="number" class="form-control" id="inputGST" oninput="myFunction()" min="0">
                  </div>
                </td>
                <td class="align-middle">
                  <p class="mb-0" style="font-weight: 500;">$7,000</p>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="d-flex align-items-center">
                    <img src="{{ url_for('static', filename='img/iPad.jpg') }}" class="img-fluid rounded-3"
                      style="width: 120px;" alt="product">
                    <div class="flex-column ms-4">
                      <p class="mb-2">iPad</p>
                      <br>
                    </div>
                  </div>
                </th>
                <td class="align-middle">
                  <p class="mb-0" style="font-weight: 500;">Tablet</p>
                </td>
                <td class="align-middle">
                  <div class="d-flex flex-row">
                    <input type="number" class="form-control" id="inputGST" oninput="myFunction()" min="0">
                  </div>
                </td>
                <td class="align-middle">
                  <p class="mb-0" style="font-weight: 500;">$4,000</p>
                </td>
              </tr>
              <table>
    <tr>
      <th scope="row">
        <div class="d-flex align-items-center">
          <img src="{{ url_for('static', filename='img/Macbook.jpg') }}" class="img-fluid rounded-3"
            style="width: 120px;" alt="product">
          <div class="flex-column ms-4">
            <p class="mb-2">Macbook</p>
          </div>
        </div>
      </th>
      <td class="align-middle">
        <p class="mb-0" style="font-weight: 500;">Laptop</p>
      </td>
      <td class="align-middle">
        <div class="d-flex flex-row">
          <input type="number" class="form-control" id="inputGST" min="0">
        </div>
      </td>
      <td class="align-middle">
        <p class="mb-0" style="font-weight: 500;" id="price">$10,000</p>
      </td>
    </tr>

            </tbody>
          </table>
        </div>

        <div class="card shadow-2-strong mb-5 mb-lg-0" style="border-radius: 16px;">
          <div class="card-body p-4">

            <div class="row">
              <div class="col-md-6 col-lg-4 col-xl-3 mb-4 mb-md-0">
                <form>
                  <div class="d-flex flex-row pb-3">
                    <div class="d-flex align-items-center pe-2">
                    </div>
                    <div class="mb-3">
                      <label for="inputProductPrice" class="form-label">Total Quantity</label>
                      <input type="text" class="form-control" id="inputDelivery" readonly>
                    </div>
                    <button id="submitButton">Submit Order</button>
            
                    <h4>Total Price: <span id="totalPrice">0</span></h4>
                </form>
             <button class="btn btn-primary btn-lg" type="button" style="background-color: black; color: white; font-size: 20px;">
              <a href="{{ url_for('products') }}" style="color: inherit;">{{ _('返回') }}</a>
</section>
</body>