<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>MyProduct</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Footer-Dark-icons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center">
        <img src="{{ url_for('static', filename='img/clipboard-image.png') }}" width="174" height="96">
      </div>
      <div class="col-md-6">
        <button class="btn btn-primary" type="button" style="background-color: black; color: white;" onclick="location.href='{{ url_for('login') }}'">
          <i class="far fa-user"></i>
          <span>登入 / 登記</span>
        </button>
      </div>
    </div>
    <div class="row mb-4">
  <div class="col">
    <button class="btn btn-primary" type="button" style="background-color: black; color: white;"><a href="{{ url_for('products') }}" style="color: inherit;">{{ _('產品') }}</a></button>
    <button class="btn btn-primary" type="button" style="background-color: black; color: white;">學生優惠</button>
    <button class="btn btn-primary" type="button" style="background-color: black; color: white;">新品速報</button>
    <button class="btn btn-primary" type="button" style="background-color: black; color: white;">品牌專區</button>
  </div>
</div>
    <div class="row">
      {% for p in products %}
      <a href="{{ url_for('product_list', list_id=p.id) }}">
      <div class="col mb-4">
        <div class="card">
        {% if p.image_url %} 
        <img src="{{ url_for('static', filename=p.image_url) }}" class="card-img-top" class="card-img-top" style="width: 100%;" alt="{{ p.name }}">
        {% else %}
        <img src="{{ url_for('static', filename='img/no.jpeg') }}" class="card-img-top" class="card-img-top" style="width: 100%;" alt="{{ p.name }}">
        {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ p.name }}</h5>
            <p class="card-text">{{ p.description }}</p>
          </div>
        </div>
      </div></a>
      {% endfor %}
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>